<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

		<!-- Title block allowing child pages to override -->
		<title>{% block title %}{% endblock %}{{ global.title }}</title>
		<meta name="description" content="">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		{% comment %}
		<!-- Uncomment this stylesheet and hide livewires.css when ready to apply your main UI styles. -->
		{{ "main.css" | asset_url | stylesheet_tag }}
		{% endcomment %}

		{{ "livewires.css" | asset_url | stylesheet_tag }}

		<!-- Style block allowing child pages to inject their own styles -->
		{% block styles %}{% endblock %}

	</head>
	<body>
	    <!-- Include -->
		{% include "header" %}

		<!-- Content block, child page inject content -->
		{% block content %}{% endblock %}


		{% include "footer" %}

		<!-- Script block allowing child pages to inject their own scripts -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery-2.0.3.min.js"><\/script>')</script>

		{{ "vendor.min.js" | asset_url | script_tag }}
		{{ "app.min.js" | asset_url | script_tag }}
		{% block scripts %}{% endblock %}

	</body>
</html>